<!DOCTYPE html>
<html>
<head>
<title>竞猜管理</title>
<#include "/header.html">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.userName" placeholder="请输入用户名" />
				</div>
				<a class="layui-btn search_btn" @click="query">查询</a>
			</div>
			
			<#if shiro.hasPermission("vsball:guessing:select")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-warm" @click="select">查看</a>
				</div>
			</#if>
			
			<#if shiro.hasPermission("vsball:account:recharge")>
				<div class="layui-inline">
					<a class="layui-btn layui-bg-blue" @click="recharge">人工充值</a>
				</div>
			</#if>
			
			<#if shiro.hasPermission("vsball:account:subtract")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-danger" @click="subtract">人工扣款</a>
				</div>
			</#if>
			
			<div style="margin-top: 8px"></div>
			
			<div class="layui-block">
				<div class="layui-inline">
				      <select v-model="q.status" lay-filter="selectStatus"	>
				        <option value="">状态</option>
				        <option value="0">禁用</option>
				        <option value="1">正常</option>
				      </select>
				</div>
			</div>  
				    
		</form>
	</blockquote>
	
	<!-- 表格 -->
	<table class="layui-hide" id="grid" lay-filter="grid"></table>

	<!-- 编辑表单  -->
	<form v-show="showForm" class="layui-form ren-form" id="editForm">
	
		<div class="layui-form-item">
			<label class="layui-form-label">用户名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.userName"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">手机号码</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.mobile" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="user.status" name="status" lay-skin="switch" lay-text="正常|禁用">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">用户头像</label>
			<div class="layui-input-block">
				<img id="userHeadImg" alt="" src='' style="width: 300px;height: 300px;">
			</div>
		</div>
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="saveOrUpdate">确定</button>
			</div>
		</div>
		
	</form>
	
	
	<!-- 查看表单  -->
	<form v-show="showSelectForm" class="layui-form ren-form" id="selectForm">
		<!-- 账号信息 begin -->
		<div class="layui-form-item">
			<label class="layui-form-label">用户名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.userName"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">手机号码</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.mobile" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.createTime" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">最后登录时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.lastLoginTime" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">最后登录Ip</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.lastLoginIp" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="user.status" name="status" disabled  lay-skin="switch" lay-text="正常|禁用">
			</div>
		</div>
		
		<!-- 账号信息  end-->
		
		
		<!-- 账户信息 begin-->
		<#if shiro.hasPermission("vsball:account:info")>
		<div class="layui-form-item">
			<label class="layui-form-label">账户金币</label>
			<div class="layui-input-block">
				<input type="text"  v-model="account.goldCoin" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">账户银币</label>
			<div class="layui-input-block">
				<input type="text"  v-model="account.silverCoin" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">入账金币总数</label>
			<div class="layui-input-block">
				<input type="text"  v-model="account.addFunds" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">转账金币总数</label>
			<div class="layui-input-block">
				<input type="text"  v-model="account.withdrawFunds" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">盈利金币总数</label>
			<div class="layui-input-block">
				<input type="text"  v-model="account.winGoldCoin" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜金币总数</label>
			<div class="layui-input-block">
				<input type="text"  v-model="account.vsGoldCoin" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		</#if>
		<!-- 账户信息 end-->
		
		<!-- 账变信息 begin-->
		
		<!-- 帐变表格 -->
		<#if shiro.hasPermission("vsball:account:info")>
		<div class="layui-form-item">
			<label class="layui-form-label">帐变列表</label>
			<div class="layui-input-block">
				<!-- 赛事竞猜表格 -->
				<table class="layui-hide" id="accountChangeGrid" lay-filter="accountChangeGrid"></table>
			</div>
		</div>
		</#if>
		<!-- 账变信息 end-->
	</form>
	
	
	
	<!-- 充值,扣款表单  -->
	<#if shiro.hasPermission("vsball:account:recharge") || shiro.hasPermission("vsball:account:subtract")>
	<form v-show="accountForm" class="layui-form ren-form" id="accountForm">
	
		<div class="layui-form-item">
			<label class="layui-form-label">货币类型</label>
			<div class="layui-input-block">
				<select name="coinType"  v-model="accountChange.coinType" lay-filter="selectCoinType">
			        <option value="">请选择</option>
			        <option value="0">金币</option>
			        <option value="1">银币</option>
			      </select>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">操作金额</label>
			<div class="layui-input-block">
				<input type="text" lay-verify="required|number"   v-model="accountChange.changeMoney" min="0" placeholder="请输入正数"  class="layui-input">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<textarea id="remark" lay-verify="required" v-model="accountChange.remark"></textarea>
			</div>
		</div>
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="rechargeOrSubtract" >确定</button>
			</div>
		</div>
		
	</form>
	</#if>
	
	
	
	
</div>


<!--操作-->
<script type="text/html" id="barTpl">
	<#if shiro.hasPermission("vsball:guessing:update")>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	</#if>
</script>

<script type="text/html" id="statusTpl">
	<input type="checkbox" name="status" lay-filter="status" value="{{d.guessingId}}" lay-skin="switch" lay-text="正常|禁用" {{d.status == 1 ? 'checked' : ''}}>
</script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/vsball/guesssing.js"></script>
</body>
</html>