<!DOCTYPE html>
<html>
<head>
<title>赛事管理</title>
<#include "/header.html">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.queryName" placeholder="请输入球队名称" />
				</div>
				<div class="layui-input-inline">
					<input type="text" lay-verify="date" id="beginTime"  class="layui-input" placeholder="开始日期">
				</div>
				~
				<div class="layui-input-inline">
					<input type="text" lay-verify="date" id="endTime"  class="layui-input" placeholder="结束日期">
				</div>
				<a class="layui-btn search_btn" @click="query">查询</a>
			</div>
			
		    <#if shiro.hasPermission("vsball:match:select")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-warm" @click="select">查看</a>
				</div>
			</#if>
			
			<div style="margin-top: 8px"></div>
			
			<div class="layui-block">
				 <div class="layui-inline" style="width: 182px;">
				      <select  lay-filter="matchStatus">
				        <option value="">比赛状态</option>
				        <option value="1">未开赛</option>
				        <option value="2">比赛中</option>
				        <option value="3">完赛</option>
				        <option value="4">取消</option>
				        <option value="0">异常</option>
				      </select>
				  </div>  
				    
			      <div class="layui-inline" style="width: 182px;">
				      <select  lay-filter="settleFlag">
				        <option value="">结算状态</option>
				        <option value="0">未结算</option>
				        <option value="1">竞猜退款</option>
				        <option value="2">普通结算</option>
				        <option value="100">已结算</option>
				      </select>
				</div>
				
				<div class="layui-inline" style="width: 182px;">
			      <select  lay-filter="importantFlag">
			        <option value="">重要赛状态</option>
			        <option value="0">否</option>
			        <option value="1">是</option>
			      </select>
				</div>
				
				<div class="layui-inline" style="width: 182px;">
				 <select  lay-filter="promotionFlag">
			        <option value="">淘汰赛状态</option>
			        <option value="0">否</option>
			        <option value="1">是</option>
			      </select>
				</div>
				<div class="layui-inline" style="width: 182px;">
				 <select  lay-filter="status">
			        <option value="">上架下架</option>
			        <option value="1">上架中</option>
			        <option value="0">已下架</option>
			      </select>
				</div>
			</div>
			
		</form>
	</blockquote>
	
	<!-- 赛事表格 -->
	<table class="layui-hide" id="grid" lay-filter="grid"></table>



	<!-- 编辑表单  -->
	<form v-show="showForm" class="layui-form ren-form" id="editForm">
	
		<div class="layui-form-item">
			<label class="layui-form-label">比赛时间</label>
			<div class="layui-input-block">
				<input type="text" lay-verify="required|datetime" v-model="match.matchTime" id="matchTime"  name="matchTime"  class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">当前比赛时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.currentMatchTime" name="currentMatchTime"   class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">比赛协会</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.matchAssociation"  name="matchAssociation"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">主队名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.hostTeamName"  name="hostTeamName"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">主队比分</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.hostTeamScore"  name="hostTeamScore"   class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">客队名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.guestTeamName"  name="guestTeamName"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">客队比分</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.guestTeamScore"  name="guestTeamScore"   class="layui-input">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜金币总数量</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.GoldCoinTotalCount"  name="GoldCoinTotalCount"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜金币剩余数量</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.GoldCoinSurplusCount"  name="GoldCoinSurplusCount"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜银币总数量</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.silverCoinTotalCount"  name="silverCoinTotalCount"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜银币剩余数量</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.silverCoinSurplusCount"  name="silverCoinSurplusCount"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">比赛结果</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.matchResult"  name="matchResult"   class="layui-input">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">比赛状态</label>
			<div class="layui-input-block">
				<select name="matchStatus" v-model="match.matchStatus" lay-filter="select_type">
			        <option value="">比赛状态</option>
			        <option value="1">未开赛</option>
			        <option value="2">比赛中</option>
			        <option value="3">完赛</option>
			        <option value="4">取消</option>
			        <option value="0">异常</option>
			      </select>
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">结算状态</label>
			<div class="layui-input-block">
				<select name="settleFlag" v-model="match.settleFlag" lay-filter="select_type">
			       <option value="">结算状态</option>
				        <option value="0">未结算</option>
				        <option value="1">竞猜退款</option>
				        <option value="2">普通结算</option>
				        <option value="100">已结算</option>
			      </select>
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">上架/下架</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.status" name="status" lay-filter="status_type"  lay-skin="switch" lay-text="上架|下架">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">重要赛</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.importantFlag" name="importantFlag"  lay-filter="status_type" lay-skin="switch" lay-text="是|否">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">淘汰赛</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.promotionFlag" name="promotionFlag"  lay-filter="status_type" lay-skin="switch" lay-text="是|否">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">自动结算</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.autoSettleFlag" name="autoSettleFlag" lay-filter="status_type" lay-skin="switch" lay-text="是|否">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">晋级球队</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.promotedTeam" name="promotedTeam"  lay-filter="status_type"  lay-skin="switch" lay-text="主队|客队">
			</div>
		</div>
		
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.createTime" name="createTime"   readonly="readonly"  class="layui-input layui-bg-gray" >
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">结算时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.settleTime"  name="settleTime"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<textarea id="content" v-model="match.remark"></textarea>
			</div>
		</div>
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="saveOrUpdate">确定</button>
			</div>
		</div>
	</form>
	
	
	
	
	
	
	<!-- 查看表单  -->
	<form v-show="showSelectForm" class="layui-form ren-form" id="selectForm">
	
		<div class="layui-form-item">
			<label class="layui-form-label">比赛时间</label>
			<div class="layui-input-block">
				<input type="text" v-model="match.matchTime"    readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">当前比赛时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.currentMatchTime"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">比赛协会</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.matchAssociation"    readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">主队名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.hostTeamName"    readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">主队比分</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.hostTeamScore"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">客队名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.guestTeamName"    readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">客队比分</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.guestTeamScore"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜金币总数量</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.GoldCoinTotalCount"     readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜金币剩余数量</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.GoldCoinSurplusCount"     readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜银币总数量</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.silverCoinTotalCount"     readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜银币剩余数量</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.silverCoinSurplusCount"    readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">比赛结果</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.matchResult"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">比赛状态</label>
			<div class="layui-input-block">
				<select  v-model="match.matchStatus" disabled >
			        <option value="">比赛状态</option>
			        <option value="1">未开赛</option>
			        <option value="2">比赛中</option>
			        <option value="3">完赛</option>
			        <option value="4">取消</option>
			        <option value="0">异常</option>
			      </select>
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">结算状态</label>
			<div class="layui-input-block">
				<select  v-model="match.settleFlag" disabled >
			       <option value="">结算状态</option>
				        <option value="0">未结算</option>
				        <option value="1">竞猜退款</option>
				        <option value="2">普通结算</option>
				        <option value="100">已结算</option>
			      </select>
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">上架/下架</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.status"  disabled   lay-skin="switch" lay-text="上架|下架">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">重要赛</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.importantFlag"  disabled  lay-skin="switch" lay-text="是|否">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">淘汰赛</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.promotionFlag" disabled   lay-skin="switch" lay-text="是|否">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">自动结算</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.autoSettleFlag" disabled  lay-skin="switch" lay-text="是|否">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">晋级球队</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="match.promotedTeam"  disabled   lay-skin="switch" lay-text="主队|客队">
			</div>
		</div>
		
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.createTime"    readonly="readonly"  class="layui-input layui-bg-gray" >
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">结算时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="match.settleTime"     readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<textarea id="content" v-model="match.remark" class="layui-input layui-bg-gray"></textarea>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">竞猜列表</label>
			<div class="layui-input-block">
				<!-- 赛事竞猜表格 -->
				<table class="layui-hide" id="selectGridTable" lay-filter="selectGridTable"></table>
			</div>
		</div>
		
		
		
		
	</form>
	
	
	
	
</div>

<!--操作-->
<script type="text/html" id="barTpl">
<#if shiro.hasPermission("vsball:match:update")>
	{{d.matchStatus==3 ? '<a class="layui-btn layui-btn-xs layui-bg-gray">编辑</a>':'<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>'}}
</#if>
</script>
<script type="text/html" id="statusTpl">
<#if shiro.hasPermission("vsball:match:update")>
	<input type="checkbox" name="status" lay-filter="status"  value="{{d.matchId}}" lay-skin="switch" lay-text="上架中|已下架" {{d.matchStatus == 3 ? 'disabled' : ''}}  {{d.status == 1 ? 'checked' : ''}}>
</#if>
</script>
<script src="${request.contextPath}/statics/js/modules/vsball/match.js?_${.now?long}"></script>
</body>
</html>