<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.frame.dao.custom.mapper.CustomeRecommendMapper">
  
    <!-- 用于后台定时任务查询  获取累计直推人数达标的用户信息 -->
  <select id="customSelectRecommendNumList" resultType="io.frame.dao.custom.entity.CustomeRecommendVo">
		 SELECT a.userId AS userId,a.groupUserIds AS groupUserIds, a.recommendNum AS recommendNum FROM (
			SELECT a.userId,a.groupUserIds,SUM(a.recommendNumber) AS recommendNum  FROM u_recommend a GROUP BY a.userId,a.groupUserIds 
		 ) a WHERE a.recommendNum <![CDATA[>=]]> #{minRecommendNum} AND a.recommendNum <![CDATA[<]]>  #{maxRecommendNum}
  </select>
  
    <!-- 用于后台定时任务查询  获取团队人数，团队业绩信息 -->
  <select id="customSelectTeamInfo" resultType="io.frame.dao.custom.entity.CustomeRecommendVo">
		SELECT SUM(u.recommendNumber) AS teamNum,SUM(u.teamAchievement) AS teamAchievement FROM u_recommend u WHERE u.groupUserIds LIKE concat(#{groupUserIds},'%')
  </select>
  
</mapper>