<!DOCTYPE html>
<html>
<head>
<title>系统日志</title>
<#include "/header.html">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.userName" @keyup.enter="query" placeholder="用户名" />
				</div>
				
				<div class="layui-inline">
				      <select lay-filter="selectStatus"	>
				        <option value="">来源</option>
				        <option value="0">前端</option>
				        <option value="1">后台</option>
				      </select>
				</div>
				<a class="layui-btn search_btn" @click="query">查询</a>
				<a class="layui-btn search_btn" @click="exports">导出</a>
			</div>
			
			<div style="margin-top: 8px"></div>
			
		</form>
	</blockquote>
	<table class="layui-hide" id="grid" lay-filter="grid"></table>
    
</div>

<script src="${request.contextPath}/statics/js/modules/happytrip/log.js?_${.now?long}"></script>
</body>
</html>