<!DOCTYPE html>
<html>
<head>
<title>用户列表</title>
<#include "/header.html">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.userName" placeholder="请输入用户名称或登录账号" />
				</div>
				<a class="layui-btn search_btn" @click="query">查询</a>
			</div>
			<#if shiro.hasPermission("ht:user:save")>
				<div class="layui-inline">
					<a class="layui-btn layui-bg-blue" @click="add">新增</a>
				</div>
			</#if>
			<#if shiro.hasPermission("ht:user:select")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-warm" @click="select">查看</a>
				</div>
			</#if>
			<#if shiro.hasPermission("ht:wallet:recharge")>
				<div class="layui-inline">
					<a class="layui-btn layui-bg-blue" @click="recharge">人工充值</a>
				</div>
			</#if>
			
			<#if shiro.hasPermission("ht:wallet:subtract")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-danger" @click="subtract">人工扣款</a>
				</div>
			</#if>
			
			<#if shiro.hasPermission("ht:user:resetpass")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-danger" @click="resetpass">重置密码</a>
				</div>
			</#if>
			
			<#if shiro.hasPermission("ht:user:resetpass")>
				<div class="layui-inline">
					<a class="layui-btn layui-bg-blue" @click="addnderling">新增下级</a>
				</div>
			</#if>
			
			<div style="margin-top: 8px"></div>
			
			<div class="layui-block">
				<div class="layui-inline">
				      <select v-model="q.status" lay-filter="selectStatus"	>
				        <option value="">状态</option>
				        <option value="0">禁用</option>
				        <option value="1">正常</option>
				      </select>
				</div>
			</div>  
				    
		</form>
	</blockquote>
	
	<!-- 表格 -->
	<table class="layui-hide" id="grid" lay-filter="grid"></table>


	<!-- 新增表单  -->
	<form v-show="addForm" class="layui-form ren-form" id="addForm">
	
		
		<div v-show="user.parentId!=null" class="layui-form-item">
			<label class="layui-form-label">父级ID</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.parentId"  readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
	
	
		<div class="layui-form-item">
			<label class="layui-form-label">用户名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.userName" lay-verify="required" class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">登录账号</label>
			<div class="layui-input-block">
				<input type="number"  v-model="user.userMobile" placeholder="请输入手机号码" lay-verify="required" class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">登录密码</label>
			<div class="layui-input-block">
				<input type="password"  v-model="user.userPass" lay-verify="required" class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">支付宝名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.alipayName" lay-verify="required" placeholder="请输入真实的支付宝名称,否则无法进行充值转账" class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">支付宝账号</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.alipayMobile" lay-verify="required" placeholder="请输入真实的支付宝账号,否则无法进行充值转账" class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">推荐人账号</label>
			<div class="layui-input-block">
				<input type="number"  v-model="user.recommendMobile" placeholder="请输入推荐人手机号码,无则填自己登录账号" lay-verify="required" class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="saveOrUpdate">确定</button>
			</div>
		</div>
		
	</form>



	<!-- 编辑表单  -->
	<form v-show="showForm" class="layui-form ren-form" id="editForm">
	
		<div class="layui-form-item">
			<label class="layui-form-label">用户名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.userName"  class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">登录账号</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.userMobile"  class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">支付宝名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.alipayName"  class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">支付宝账号</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.alipayMobile"  class="layui-input ">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="user.status" name="status" lay-skin="switch" lay-text="正常|禁用">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="saveOrUpdate">确定</button>
			</div>
		</div>
		
	</form>
	
	
	<!-- 查看表单  -->
	<form v-show="showSelectForm" class="layui-form ren-form" id="selectForm">
		<!-- 账号信息 begin -->
		<div class="layui-form-item">
			<label class="layui-form-label">用户名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.userName"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">登录账号</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.userMobile" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">支付宝名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.alipayName"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">支付宝账号</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.alipayMobile"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">父级ID</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.parentId" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">用户级别</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.userLevel" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">推荐人</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.recommendMobile" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">注册来源</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.registerType==0?'前端':'后台'" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">上次登录时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.lastLoginTime" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">上次登录IP</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.lastLoginIp" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.createTime" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">创建者</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.createUser" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.updateTime" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">修改者</label>
			<div class="layui-input-block">
				<input type="text"  v-model="user.updateUser" readonly="readonly" class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="user.status" name="status" disabled  lay-skin="switch" lay-text="正常|禁用">
			</div>
		</div>
		
		<!-- 账号信息  end-->
		
		
		<!-- 账户信息 begin-->
		<#if shiro.hasPermission("ht:wallet:info")>
		<div class="layui-form-item">
			<label class="layui-form-label">账户余额</label>
			<div class="layui-input-block">
				<input type="text"  v-model="wallet.balance" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">总收益</label>
			<div class="layui-input-block">
				<input type="text"  v-model="wallet.profitMoney" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">充值总数</label>
			<div class="layui-input-block">
				<input type="text"  v-model="rechargeTotalMoney" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">提现总数</label>
			<div class="layui-input-block">
				<input type="text"  v-model="withdrawTotalMoney" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		</#if>
		<!-- 账户信息 end-->
		
		<!-- 账变信息 begin-->
		
		<!-- 帐变表格 -->
		<#if shiro.hasPermission("ht:wallet:info")>
		<div class="layui-form-item">
			<label class="layui-form-label">帐变列表</label>
			<div class="layui-input-block">
				<table class="layui-hide" id="walletChangeGrid" lay-filter="walletChangeGrid"></table>
			</div>
		</div>
		</#if>
		<!-- 账变信息 end-->
	</form>
	
	
	
	<!-- 充值,扣款表单  -->
	<#if shiro.hasPermission("ht:wallet:recharge") || shiro.hasPermission("ht:wallet:subtract")>
	<form v-show="walletForm" class="layui-form ren-form" id="walletForm">
		
		<div class="layui-form-item">
			<label class="layui-form-label">操作金额</label>
			<div class="layui-input-block">
				<input type="text" lay-verify="required|number"   v-model="walletChange.operatorMoney" min="0" placeholder="请输入正数"  class="layui-input">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">备注信息</label>
			<div class="layui-input-block">
				<textarea id="remark" lay-verify="required" v-model="walletChange.remark"></textarea>
			</div>
		</div>
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="rechargeOrSubtract" >确定</button>
			</div>
		</div>
		
	</form>
	</#if>
	
	
	
	
</div>


<!--操作-->
<script type="text/html" id="barTpl">
	<#if shiro.hasPermission("ht:user:update")>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	</#if>
	<!--
	<#if shiro.hasPermission("ht:user:delete")>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</#if>
	-->
</script>

<script type="text/html" id="statusTpl">
	<input type="checkbox" name="status" lay-filter="status" value="{{d.userId}}" lay-skin="switch" lay-text="正常|禁用" {{d.status == 1 ? 'checked' : ''}}>
</script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/happytrip/user.js"></script>
</body>
</html>