<!DOCTYPE html>
<html>
<head>
<title>福利列表</title>
<#include "/header.html">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.welfareName" placeholder="请输入奖励名称" />
				</div>
				<a class="layui-btn search_btn" @click="query">查询</a>
			</div>
			<#if shiro.hasPermission("ht:welfare:save")>
				<div class="layui-inline">
					<a class="layui-btn layui-bg-blue" @click="add">新增</a>
				</div>
			</#if>
			<#if shiro.hasPermission("ht:welfare:info")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-warm" @click="select">查看</a>
				</div>
			</#if>
			
			<div style="margin-top: 8px"></div>
			
			<div class="layui-block">
			
				<div class="layui-inline">
				      <select lay-filter="selectStatus"	>
				        <option value="">状态</option>
				        <option value="0">禁用</option>
				        <option value="1">启用</option>
				      </select>
				</div>
				
				<div class="layui-inline">
				 <select  lay-filter="selectWelfareStatus">
				 	<option value="">福利类型</option>
				  	<option v-for="welfare in welfareList" :value="welfare.welfareKey" >{{welfare.welfareName}}</option>
			      </select>
				</div>
			</div>
				    
		</form>
	</blockquote>
	
	<!-- 表格 -->
	<table class="layui-hide" id="grid" lay-filter="grid"></table>
	
	<!-- 表单  -->
	<form v-show="addForm" class="layui-form ren-form" id="addForm">
		
		<div class="layui-form-item">
			<label class="layui-form-label">福利类型</label>
			<div class="layui-input-block">
				 <select id="welfareListSelect" v-model="welfare.welfareKey" lay-filter="formSelectWelfareStatus">
				  	<option v-for="welfare in welfareList" :value="welfare.welfareKey" >{{welfare.welfareName}}</option>
			      </select>
			</div>
		</div>
		
		<div  class="layui-form-item">
			<label class="layui-form-label">达标值</label>
			<div class="layui-input-block">
				<input type="text"  v-model="welfare.welfareValue" lay-verify="required"  placeholder="多个参数时，使用英文逗号隔开"   class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">奖金池</label>
			<div class="layui-input-block">
				<input type="number"  v-model="welfare.bonusPool"  placeholder="为空时,取订单总金额" class="layui-input">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<input id="remark" type="text"  v-model="welfare.remark" lay-verify="required"    class="layui-input">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="welfare.status" lay-filter="formStatus" lay-skin="switch" lay-text="启用|禁用">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="saveOrUpdate">确定</button>
			</div>
		</div>
	</form>
	
	
	<!-- 查看 表单  -->
	<form v-show="showSelectForm" class="layui-form ren-form" id="selectForm">
	<div class="layui-form-item">
			<label class="layui-form-label">福利类型</label>
			<div class="layui-input-block">
			      <input type="text"  v-model="welfare.welfareName" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div  class="layui-form-item">
			<label class="layui-form-label">达标值</label>
			<div class="layui-input-block">
				<input type="text"  v-model="welfare.welfareValue"   readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">奖金池</label>
			<div class="layui-input-block">
				<input type="text"  v-model="welfare.bonusPool"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<input type="text"  v-model="welfare.remark" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="checkbox" v-model="welfare.status"   disabled lay-skin="switch" lay-text="启用|禁用">
			</div>
		</div>
	 	
	</form>
	
</div>

<!--操作-->
<script type="text/html" id="barTpl">
	<#if shiro.hasPermission("ht:welfare:update")>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	</#if>
	
	<#if shiro.hasPermission("ht:welfare:delete")>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</#if>
</script>
<script type="text/html" id="statusTpl">
	<input type="checkbox" name="status" lay-filter="status" value="{{d.welfareId}}" lay-skin="switch" lay-text="启用|禁用" {{d.status == 1 ? 'checked' : ''}}>
</script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/happytrip/welfare.js"></script>
</body>
</html>