<!DOCTYPE html>
<html>
<head>
<title>提现列表</title>
<#include "/header.html">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.userName" placeholder="请输入用户名称" />
				</div>
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.userMobile" placeholder="请输入登录账号" />
				</div>
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.alipayMobile" placeholder="请输入支付宝账号" />
				</div>
				<div class="layui-input-inline">
					<input type="text" lay-verify="date" id="beginTime"  class="layui-input" placeholder="开始日期">
				</div>
				~
				<div class="layui-input-inline">
					<input type="text" lay-verify="date" id="endTime"  class="layui-input" placeholder="结束日期">
				</div>
				<a class="layui-btn search_btn" @click="query">查询</a>
			</div>
			
			<#if shiro.hasPermission("ht:withdraw:select")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-warm" @click="select">查看</a>
				</div>
			</#if>
			
			<div style="margin-top: 8px"></div>
			
			<div class="layui-block">
				<div class="layui-inline">
				      <select lay-filter="selectStatus"	>
				        <option value="">状态</option>
				        <option value="0">待审核</option>
				        <option value="1">已完成</option>
				        <option value="2">异常</option>
				         <option value="3">已取消</option>
				      </select>
				</div>
			</div>
				    
		</form>
	</blockquote>
	
	<!-- 表格 -->
	<table class="layui-hide" id="grid" lay-filter="grid"></table>

	
	<!-- 查看表单  -->
	<form v-show="showSelectForm" class="layui-form ren-form" id="selectForm">
		
		<div class="layui-form-item">
			<label class="layui-form-label">提现ID</label>
			<div class="layui-input-block">
				<input type="text"  v-model="withdraw.withdrawId"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
	
		<div class="layui-form-item">
			<label class="layui-form-label">用户名称</label>
			<div class="layui-input-block">
				<input type="text"  v-model="withdraw.userName" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">登录账号</label>
			<div class="layui-input-block">
				<input type="text"  v-model="withdraw.userMobile"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">提现金额</label>
			<div class="layui-input-block"> 
				<input type="number"  v-model="withdraw.withdrawMoney"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">提现手续费</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.withdrawFee"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">实际提现金额</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.withdrawRealMoney"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">支付宝名称</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.alipayName"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">支付宝账号</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.alipayMobile" readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.createTime"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">创建者</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.createUser"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.updateTime"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">修改者</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.updateUser"  readonly="readonly"  class="layui-input layui-bg-gray">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">付款账号</label>
			<div class="layui-input-block"> 
				<input type="text"  v-model="withdraw.transferAccounts" lay-verify="required"  class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block"> 
				<input type="text" lay-verify="required" v-model="withdraw.frontRemark"   class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<select lay-filter="selectWithdrawStatus"	v-model="withdraw.status">
				        <option value="">状态</option>
				        <option value="0">待审核</option>
				        <option value="1">已完成</option>
				        <option value="2">异常</option>
				        <option value="3">已取消</option>
				      </select>
			</div>
		</div>
		
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="saveOrUpdate">确定</button>
			</div>
		</div>
	</form>
	
</div>


<!--操作-->
<script type="text/html" id="barTpl">
	<#if shiro.hasPermission("ht:withdraw:update")>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	</#if>
	<#if shiro.hasPermission("ht:withdraw:delete")>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</#if>
</script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/happytrip/withdraw.js?_${.now?long}"></script>
</body>
</html>