<!DOCTYPE html>
<html>
<head>
<title>角色管理</title>
<#include "/header.html">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" v-model="q.roleName" @keyup.enter="query" placeholder="角色名称" />
				</div>
				<a class="layui-btn search_btn" @click="query">查询</a>
			</div>
			<#if shiro.hasPermission("sys:role:save")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-normal" @click="add">新增</a>
				</div>
			</#if>
			<#if shiro.hasPermission("sys:role:delete")>
				<div class="layui-inline">
					<a class="layui-btn layui-btn-danger layui-btn-normal delBatch">批量删除</a>
				</div>
			</#if>
		</form>
	</blockquote>
	<table class="layui-hide" id="grid" lay-filter="grid"></table>


	<!-- 表单 -->
	<form v-show="showForm" class="layui-form ren-form" id="editForm">
		<div class="layui-form-item">
			<label class="layui-form-label">角色名称</label>
			<div class="layui-input-block">
				<input type="text" lay-verify="required" v-model="role.roleName" autocomplete="off" placeholder="角色名称" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">所属部门</label>
			<div class="layui-input-block">
				<input type="text" lay-verify="required" style="cursor:pointer;" v-model="role.map.deptName" @click="deptTree" readonly="readonly" placeholder="所属部门" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<input type="text" v-model="role.remark" autocomplete="off" placeholder="备注" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item" style="margin-top:30px;margin-left:26px;">
				<label class="layui-form-label">功能权限</label>
				<div class="layui-input-inline">
					<ul id="menuTree" class="ztree"></ul>
				</div>
				<label class="layui-form-label">数据权限</label>
				<div class="layui-input-inline">
					<ul id="dataTree" class="ztree"></ul>
				</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="saveOrUpdate">确定</button>
			</div>
		</div>
	</form>

</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<ul id="deptTree" class="ztree"></ul>
</div>

<!--操作-->
<script type="text/html" id="barTpl">
	<#if shiro.hasPermission("sys:role:update")>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	</#if>
	<#if shiro.hasPermission("sys:role:delete")>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</#if>
</script>

<script src="${request.contextPath}/statics/js/modules/sys/role.js?_${.now?long}"></script>
</body>
</html>